.ac_game_settings {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/background.gif");
    /* 禁止左右上下拉伸 */
    background-size: 100% 100%;
    /* 禁止用户鼠标点选 */
    user-select: none;
}

.ac_game_settings_login {
    height: 45vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    /* 圆角 */
    border-radius: 5px;
}

.ac_game_settings_title {
    color: white;
    font-size: 3vh;
    text-align: center;
    padding-top: 2vh;
    margin-bottom: 2vh;
}

.ac_game_settings_username {
    display: block;
    height: 7vh;
}

.ac_game_settings_password {
    display: block;
    height: 7vh;
}

.ac_game_settings_submit {
    display: block;
    height: 7vh;
}

.ac_game_settings_acwing {
    display: block;
    height: 7vh;
}

.ac_game_settings_item {
    width: 100%;
    height: 100%;
}

.ac_game_settings_item > input {
    width: 90%;
    line-height: 3vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ac_game_settings_item > button {
    color: white;
    width: 90%;
    line-height: 3vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    border-radius: 5px;
}

.ac_game_settings_error_message {
    color: red;
    font-size: 0.8vh;
    display: inline;
    float: left;
    padding-left: 1vw;
}

.ac_game_settings_option {
    color: white;
    font-size: 2vh;
    display: inline;
    float: right;
    padding-right: 1vw;
    cursor: pointer;
}

.ac_game_settings_acwing > img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: block;
}

.ac_game_settings_acwing > div {
    color: white;
    font-size: 1.5vh;
    text-align: center;
    display: block;
}

.ac_game_settings_register {
    height: 51vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.ac_game_menu {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/background.gif");
    /* 禁止左右上下拉伸 */
    background-size: 100% 100%;
    /* 禁止用户鼠标点选 */
    user-select: none;
}

.ac_game_menu_field {
    width: 20vw;
    position: relative;
    top: 40%;
    left: 20%;
}

.ac_game_menu_field_item {
    color: white;
    height: 6vh;
    width: 20vw;
    font-size: 4vh;
    /* 设置字体样式为斜体 */
    font-style: italic;
    text-align: center;
    background-color: rgba(39, 21, 28, 0.6);
    border-radius: 10px;
    /* 设置字体之间的间距 */
    letter-spacing: 0.5vw;
    /* 设置鼠标样式 接触到之后变成指针样式 */
    cursor: pointer;
}

.ac_game_menu_field_item:hover {
    /* 设置缩放效果 */
    transform: scale(1.2);
    /* 设置秒数 */
    transition: 100ms;
}

.ac_game_playground {
    width: 100%;
    height: 100%;
    /* 禁止用户选中 */
    user-select: none;
    /* 添加一层灰色背景 */
    background-color: grey;
}

.ac_game_playground > canvas {
    position: relative;
    top: 50%;
    left: 50%;
    /* 平移给定元素 */
    transform: translate(-50%, -50%);
}
